<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h2 id="chat-header">Flask Chat App</h2>

    <div id="chat-box"></div>

    <div class="input-container">
        <input type="text" id="message" placeholder="Type a message..." onkeypress="handleKeyPress(event)">
        <button onclick="sendMessage()">Send</button>
        <input type="file" id="file-input">
        <label id="file-label" for="file-input"></label>
    </div>

    

    <script src="{{ url_for('static',filename="main.js") }}">
      
    </script>
</body>
</html>
